        <div id="todos-form" th:fragment="add-frag" hx-swap-oob="true">
            <form hx-post="/todos" hx-target=".todo-items">
                <input type="hidden" name="categoryId" id="categoryId" th:fragment="selectedCategoryId" 
                th:value="${selectedCategoryId}">
                <input type="text" name="new-todo" id="new-todo" th:value="${newTodo}" required>
                <button class="btn btn-primary btn-sm"  id="add-todo-btn">Add</button>
            </form>
        </div>